/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

/* Header */
header {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 28px;
}

/* Search Section */
.search-box {
    text-align: center;
    margin: 25px 0;
}

.search-box input {
    width: 280px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.search-box button {
    padding: 10px 15px;
    margin-left: 8px;
    background-color: #10b981;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #059669;
}

/* Product Container */
.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

/* Product Card */
.product-card {
    background: white;
    width: 250px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

/* Product Title */
.product-card h3 {
    margin-bottom: 10px;
}

/* Price */
.price {
    font-size: 18px;
    font-weight: bold;
    color: #e11d48;
    margin-bottom: 5px;
}

/* Rating */
.rating {
    color: #f59e0b;
    margin-bottom: 10px;
}

/* Visit Button */
.product-card a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #c0256d;
    color: rgb(240, 239, 233);
    text-decoration: none;
    border-radius: 5px;
}

.product-card a:hover {
    background-color: #b30ba7;
}

/* Table Styling */
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #a31397;
    color: white;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #940e8d;
    color: white;
    margin-top: 40px;
}

/* Responsive */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        align-items: center;
    }

    table {
        width: 95%;
    }
}